* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.section {
    padding: 20px;
    text-align: center;
}

.section-header {
    text-align: left;
    padding-top: 60px;
    background-color: grey;
    color: white;
    height: 33vh;
}

.section-main {
    text-align: left;
    background-color: #333333;
    color: whitesmoke;
    height: 33vh;
    
}

.section-aside {
    text-align: left;
    background-color: #000000;
    color: white;
    height: 33vh;
}

.footer {
    padding: 15px;
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    }
h1{
    size: 300%;
    font-style: inherit;
}
