p{
   color: white;
}

.container {
   display: grid;
   grid-template-rows: 1fr 1fr;
   /* Two equal rows */
   grid-template-columns: 70% 30%;
   /* 70:30 ratio for top row */
   height: 100vh;
   /* Full viewport height */
   width: 100vw;
   /* Full viewport width */
}


/*the divisons of the home page*/
.top-right {
   color: #333333;
   grid-column: 2 / 3;
   /* Second column */
   grid-row: 1 / 2;
   /* First row */
   background-color: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px 50px 50px 50px;
}

.left {
   grid-column: 1 / 2;
   /* First column */
   grid-row: 1/ 3;
   /* Second row */
   background-color: black;
   background-image: url('assets/eb4cefe0c24c3e3010394ae4bfd3c9b8.jpg');
      /* Path to your image */
      background-size: cover;
      /* Ensures the image covers the entire division */
      background-position: center;
      /* Centers the image */
      background-repeat: no-repeat;
      /* Prevents repeating the image */
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px 50px 50px 50px;
}

.bottom-right {
   grid-column: 2 / 3;
   /* Second column */
   grid-row: 2 / 3;
   /* Second row */
   background-color: #333333;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px 50px 50px 50px;
}